<div class="container-fluid">
    <mat-card class="card">
        <mat-card-content>
            <h1>Factura</h1>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <p>Aqui iria la tabla</p>
        </mat-card-content>
    </mat-card>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <mat-card class="card">
                    <mat-card-content>
                        <h1>Identificación</h1>
                        <form class="example-form">
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="Ex. Santiago">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Apellido</mat-label>
                                <input matInput placeholder="Ex. Coronel">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Ex. abc@email.com">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Cédula de identidad</mat-label>
                                <input matInput placeholder="Ex. 0956682615">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Télefono</mat-label>
                                <input matInput placeholder="Ex. 0994552134">
                            </mat-form-field>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card class="card">
                    <mat-card-content>
                        <h1>Envío</h1>
                        <form class="example-form">
                            <mat-form-field>
                                <mat-label>Provincia</mat-label>
                                <input matInput placeholder="Ex. Guayas">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Ciudad</mat-label>
                                <input matInput placeholder="Ex. Guayaquil">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-label>Sector</mat-label>
                                <input matInput placeholder="Ex. Norte">
                            </mat-form-field>
                            <br>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Calle Principal</mat-label>
                                        <input matInput placeholder="Ex. Av. Isidro Ayora">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Calle Secundaria</mat-label>
                                        <input matInput placeholder="Ex. 7mo Callejón">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Villa</mat-label>
                                        <input matInput placeholder="Ex. V21">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Código Postal</mat-label>
                                        <input matInput placeholder="Ex. 92564">
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <mat-card class="card">
        <mat-card-content>
            <h1>Pago</h1>
            <button mat-raised-button class="vaciar-btn" color="warn" (click)="elementos()">Vaciar</button>

        </mat-card-content>
    </mat-card>
</div>