<mat-toolbar color="primary">
  <div>
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mouse"></mat-icon>
    <span>ELECTRO - 19</span>
  </div>
  <div class="navbar-cart">
    <div class="navbar-cart-items">
      <p>{{ (myCart$ | async)?.length }}</p>
    </div>
    <button mat-raised-button color="accent" (click)="onToggleCarrito()"><mat-icon aria-hidden="false"
        aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>Carrito</button>
  </div>
</mat-toolbar>
<mat-card class="cart" [ngClass]="{show:viewCarrito}">
  <app-carrito></app-carrito>
</mat-card>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <ng-container *ngIf="sidenav.opened">
      <app-menu></app-menu>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>