<mat-toolbar color="primary">
  <div>
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mouse"></mat-icon>
    <span>ELECTRO - 19</span>
  </div>
  <div>
    <button mat-raised-button color="accent"><mat-icon aria-hidden="false" aria-label="Example home icon"
        fontIcon="shopping_cart"></mat-icon>Carrito</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<!--
<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side" opened>
    <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
-->