.productCart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    .productCart {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .productCart-body {
            flex-basis: 50%;
        }

        .productCart-body-total {
            flex-basis: 20%;
        }

        .productCart-buttons {
            flex-basis: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            .productCart-buttons-operators {
                display: flex;
                align-items: center;
                gap: 1rem;

                span {
                    border: 1px solid lightgray;
                    border-radius: 0.5rem;
                    padding: 0.5rem;
                }

                .icono {
                    cursor: pointer;
                    color: #FF4081;
                }

                .icono-trash {
                    cursor: pointer;
                    color: #3F51B5;
                }
            }
        }

        .productCart-body-info {
            display: flex;
            gap: 1rem;
        }


    }

    .cartTotal {
        padding: 1rem;

        .cartTotal-total {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .container-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .pagar-btn {
            width: 50%;
            background-color: #28a745;
            color: white
        }
    
        .vaciar-btn {
            width: 50%;
        }
    }

    
}