<div class="productCart-wrapper">
    <article class="productCart" *ngFor="let item of myCart$ | async">
        <div class="productCart-body">
            <p>{{ item.producto.nombre }}</p>
            <div class="productCart-body-info">
                <p>$ {{ item.producto.precio }}</p>
                <p> {{ item.cantidad }} </p>
            </div>
        </div>
        <div class="productCart-total">
            <p>$ {{ item.producto.precio * item.cantidad }}</p>
        </div>
        <div class="productCart-buttons">
            <div class="productCart-buttons-operators">
                <mat-icon class="icono" aria-hidden="false" aria-label="Example home icon" fontIcon="do_not_disturb_on"
                    (click)="updateUnits('minus',item.producto.pid)"></mat-icon>
                <span> {{ item.cantidad }} </span>
                <mat-icon class="icono" aria-hidden="false" aria-label="Example home icon" fontIcon="add_circle"
                    (click)="updateUnits('add',item.producto.pid)"></mat-icon>
                <mat-icon class="icono-trash" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"
                    (click)="deleteItem(item.producto.pid)"></mat-icon>
            </div>
        </div>
    </article>
    <div class="cartTotal">
        <p class="cartTotal-total">Total: $ {{ getTotal() }}</p>
    </div>
    <div class="container-buttons">
        <div>
            <button mat-raised-button class="vaciar-btn" color="warn" (click)="vaciarCarrito()">Vaciar</button>
        </div>
        <div>
            <button mat-raised-button class="pagar-btn">Pagar</button>
        </div>
    </div>
</div>